.container-fluid{
    font-family: system-ui, sans-serif;
}

.page-header {
    display: flex;
    margin-top: 12px;
}


h1 {
    font-size: 22px;
    font-weight: 700;
    color: #004C8C;
    line-height: 24.53px;
    font-family: comfortaa;
}

h4{
    color: #004C8C; 
    /* margin-top: -5px; */
}
.breadcrumb {
    background-color: #F5F5F5;
    position: relative;
    z-index: auto;
    background-color: #F5F5F5;
    padding-left: 10px;
    margin-bottom: 0px !important;
    font-size: 10px;
    color: #333;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.breadcrumb a {
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb i {
    color: #3BB161;
    margin-right: 5px;
}



/* 
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    background-color: transparent;
    line-height: 1.42857143;
    background-color: #fff;
    padding: 5px;
    padding: 25px;
    font-size: 14px;
    font-family: "Comfortaa", sans-serif;
}

.table td,
.table th {
    background-color: #fff !important;
    font-family: "Comfortaa", sans-serif;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd !important;
    font-family: "Comfortaa", sans-serif;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.dataTables_wrapper {
    font-size: 13px;
}

.dataTables_paginate a.paginate_button {
    margin: 0 10px;
    color: #8089A0;
    text-decoration: none;
    font-size: 14px;
    font-family: "Comfortaa", sans-serif;
}

form {
    font-size: 12px;
    font-family: "Comfortaa", sans-serif;
}

label {
    color: #393939;
    font-weight: 400;
    font-size: 14px;
   
}

.btn-info,
.btn-info.focus,
.btn-info:focus {
    background-color: #004C8C !important;
    border-color: #004C8C;
}

.btn {
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-image: none !important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: background-color .15s, border-color .15s, opacity .15s;
    -o-transition: background-color .15s, border-color .15s, opacity .15s;
    transition: background-color .15s, border-color .15s, opacity .15s;
    vertical-align: middle;
    margin: 0;
    position: relative;
}

.btn,
.dropdown-colorpicker a {
    cursor: pointer;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canc {
    background-color: #ABBAC3 !important;
    border-color: #ABBAC3;
}


.form-select,
.form-control {
    font-weight: 400;
    font-size: 13px;
   
}


.select {
    font-weight: 400;
    font-size: 14px;
   
}

.btn-info:hover,
.btn-info:active:hover,
.btn-info:focus:active,
.btn-info:focus:hover,
.btn-info:hover,
.open>.btn-info.dropdown-toggle,
.open>.btn-info.dropdown-toggle.focus,
.open>.btn-info.dropdown-toggle:active,
.open>.btn-info.dropdown-toggle:focus,
.open>.btn-info.dropdown-toggle:hover {
    background-color: #4F99C6 !important;
    border-color: #004C8C;
}

.empform {
    border: 2px solid red;
}

.box {
    margin-top: 7%;
}

@media (max-width: 820px) {
    .box {
        margin-top: 15%;
    }
}

.tab-content {
    border: 2px solid #3BB161;
    padding: 16px 12px;
    position: relative;
}

.nav-tabs {
    border-color: #C5D0DC;
    margin-bottom: 0 !important;
    position: relative;
    top: 1px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    border-top: 1px solid #3BB161;
    border-right: 1px solid #3BB161;
    border-left: 1px solid #3BB161;
    border-radius: .5rem .5rem 0rem 0rem;
    overflow: hidden;
}


.nav-tabs>li>a,
.nav-tabs>li>a:focus {
    border-radius: 0 !important;
    border-color: #3BB161;
    background-color: #fff;
    color: #3BB161;
    line-height: 18px;
    position: relative;
    font-size: 14px;
    padding: 3px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #FFF;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #FFF;
    border-color: #3BB161 #3BB161 transparent;
    border-top: 2px solid #3BB161;
    background-color: #3BB161;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15);
}

h4 {
    color: #393939;
}


th,
td {
    color: #004C8C;
}

label {
    color: #004c8c !important;
    font-weight: 600;
    width: auto;
    left: 10px;
    top: 0px;
}

select~label {
    color: #004c8c;
    font-weight: 600;
    width: auto;
    top: -10px;
}

input {
    font-size: small;
    color: #3BB161;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 20px;
}

.myCheckbox {
    border: 2px solid green;
    padding: 5px; 
    background-color: lightgreen; 
} */

/* 
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    background-color: transparent;
    line-height: 1.42857143;
    background-color: #fff;
    padding: 5px;
    padding: 25px;
    font-size: 14px;
    font-family: system-ui, sans-serif;
}

.table td,
.table th {
    background-color: #fff !important;
    font-family: system-ui, sans-serif;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd !important;
    font-family: system-ui, sans-serif;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.dataTables_wrapper {
    font-size: 13px;
}

.dataTables_paginate a.paginate_button {
    margin: 0 10px;
    color: #8089A0;
    text-decoration: none;
    font-size: 14px;
    font-family: system-ui, sans-serif;
}

form{
    font-size: 12px;
    font-family: system-ui, sans-serif;
}
label{
    color: #393939;
    font-weight: 400;
    font-size: 14px;
}
.btn-info, .btn-info.focus, .btn-info:focus {
    background-color: #003974!important;
    border-color: #003974;
}
.btn {
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-image: none!important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: background-color .15s,border-color .15s,opacity .15s;
    -o-transition: background-color .15s,border-color .15s,opacity .15s;
    transition: background-color .15s,border-color .15s,opacity .15s;
    vertical-align: middle;
    margin: 0;
    position: relative;
}

.btn, .dropdown-colorpicker a {
    cursor: pointer;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canc{
    background-color: #ABBAC3!important;
    border-color: #ABBAC3;
}


.form-select , .form-control {
    font-weight: 400;
    font-size: 13px; 
}

.select {
    font-weight: 400;
    font-size: 14px; 
}



.btn-info:hover,.btn-info:active:hover,.btn-info:focus:active,.btn-info:focus:hover,.btn-info:hover,.open>.btn-info.dropdown-toggle,.open>.btn-info.dropdown-toggle.focus,.open>.btn-info.dropdown-toggle:active,.open>.btn-info.dropdown-toggle:focus,.open>.btn-info.dropdown-toggle:hover {
    background-color: #4F99C6!important;
    border-color: #003974;
    border: 5px solid #003974 ;

}
.empform{
    border: 2px solid red;
}
.box{
    margin-top: 7%;
}
@media (max-width: 820px) {
    .box{
       margin-top: 15%;
    }
}
.tab-content {
    border: 1px solid #C5D0DC;
    padding: 16px 12px;
    position: relative;
}
.nav-tabs {
    border-color: #C5D0DC;
    margin-bottom: 0!important;
    position: relative;
    top: 1px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    font-family: system-ui, sans-serif;
    border-top: 1px solid #C5D0DC;
    border-right: 1px solid #C5D0DC;
    border-left: 1px solid #C5D0DC;
}


.nav-tabs>li>a, .nav-tabs>li>a:focus {
    border-radius: 0!important;
    border-color: #C5D0DC;
    background-color: #F9F9F9;
    color: #999;
    line-height: 18px;
    position: relative;
    font-size: 14px;
    padding: 3px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #576373;
    border-color: #C5D0DC #C5D0DC transparent;
    border-top: 2px solid #4C8FBD;
    background-color: #FFF;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
}
h4{
    color: #393939;
} */

/* 
.btn-info {
    padding: 5px 25px !important;
    margin-left: 10px !important;
    color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;

   
} */


.btn-info {
    height: 36px;
    padding: 5px 25px !important;
    margin-left: 10px !important;
    color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 20px;

   
}

button.btn-info {
    line-height: 14px;
    padding: 0px 0px;
}

.btn-info:hover {
    background-color: #4F99C6 !important;

}
#branch_datatable_length,
.branch_datatable_length p {
    color: #004C8C;
    font-family: Comfortaa;
    font-size: 11px;
    font-weight: 600;
}

#branch_datatable_wrapper .dataTables_length select {
    border-radius: 20px;
    color: #004C8C;
}

.rounded-table {
    border-radius: 7px;
    overflow: hidden;
   
}

.pag {
    color: #004C8C;
    font-family: Comfortaa;
    font-size: 12px !important;
    font-weight: 600;
}

.pag .ngb-pagination {
    display: flex;
    align-items: center;
    font-size: 5px;
}

.pag .ngb-pagination .page-link.active {
    color: #FFF;
    background-color: #004C8C;

}



.tab-content {
    border: 2px solid #3BB161;
    padding: 16px 12px;
    position: relative;
}

.nav-tabs {
    border-color: #C5D0DC;
    margin-bottom: 0 !important;
    position: relative;
    top: 1px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
    border-top: 1px solid #3BB161;
    border-right: 1px solid #3BB161;
    border-left: 1px solid #3BB161;
    border-radius: .5rem .5rem 0rem 0rem;
    overflow: hidden;
    
}


.nav-tabs>li>a,
.nav-tabs>li>a:focus {
    border-radius: 0 !important;
    border-color: #3BB161;
    background-color: #fff;
    color: #3BB161;
    line-height: 18px;
    position: relative;
    font-size: 14px;
    padding: 3px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #FFF;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #FFF;
    border-color: #3BB161 #3BB161 transparent;
    border-top: 2px solid #3BB161;
    background-color: #3BB161;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .15);
}


/* 
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    background-color: transparent;
    line-height: 1.42857143;
    background-color: #fff;
    padding: 5px;
    padding: 25px;
    font-size: 14px;
    font-family: "Comfortaa", sans-serif;
}

.table td,
.table th {
    background-color: #fff !important;
    font-family: "Comfortaa", sans-serif;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd !important;
    font-family: "Comfortaa", sans-serif;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
} */


table {
    /* border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd !important;
    background-color: transparent;
    line-height: 1.42857143;
    padding: 50px;
    font-size: 14px; */
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    background-color: transparent;
    line-height: 1.42857143;
    background-color: #fff;
    padding: 5px;
    padding: 25px;
    font-size: 14px;
    font-family: "Comfortaa", sans-serif;
}

.table th {
    color: #004c8c;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.table td {
    color: #004c8c;
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd !important
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 12px;
    line-height: 1.42857143;
    vertical-align: top;
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.dataTables_wrapper {
    font-size: 13px;
}
th,
td {
    color: #004C8C;
}


.form-control , .form-select{
    border: 1px solid #636363;
    border-radius: 10px;
    font-size: 12px;
}

    

.addnewroll {
    justify-content: center;
  } 
label {
    color: #004c8c !important;
    font-weight: 600;
    width: auto;
    left: 15px;
    top: 5px;
   font-size: 12px;

}

select~label {
    color: #004c8c;
    font-weight: 600;
    width: auto;
    
}
/* 
input {
    font-size: small;
    color: #3BB161;
} */

input{
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    /* color: #636363; */
    font-size: small;
    color: #3BB161; 
    }
.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

button.margin-right {
    margin-right: 20px;
}

.myCheckbox {
    border: 2px solid green;
    padding: 5px; /* Optional: Add padding for better visual appearance */
    background-color: lightgreen; /* Set the desired background color */
}



