
.container-fluid {
    font-family: system-ui, sans-serif;
}

.search {
    font-size: 14px;
}

.page-header {
    display: flex;
    margin-top: 12px;
}


h1 {
    font-size: 18px;
    font-weight: 700;
    color: #004C8C;
    line-height: 24.53px;
    font-family: comfortaa;
}

.breadcrumb {
    background-color: #F5F5F5;
    position: relative;
    z-index: auto;
    background-color: #F5F5F5;
    padding-left: 10px;
    margin-bottom: 0px !important;
    font-size: 10px;
    color: #333;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.breadcrumb a {
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb i {
    color: #3BB161;
    margin-right: 5px;
}


.btn-info {
    padding: 5px 25px !important;
    margin-left: 10px !important;
    color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;

   
}

button.btn-info {
    line-height: 14px;
    padding: 0px 0px;
}

.btn-info:hover {
    background-color: #4F99C6 !important;

}

#branch_datatable_length,
.branch_datatable_length p {
    color: #004C8C;
    font-family: Comfortaa;
    font-size: 11px;
    font-weight: 600;
}

#branch_datatable_wrapper .dataTables_length select {
    border-radius: 20px;
    color: #004C8C;
}

.form-floating select{
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 500;
    /* line-height: 58px; */
    /* letter-spacing: 0em; */
    text-align: left;
    color: #636363;
   
}
.form-floating option :hover{
    background-color: #004C8C;
}


.rounded-table {
    border-radius: 7px;
    overflow: hidden;
   
}

.pag {
    color: #004C8C;
    font-family: Comfortaa;
    font-size: 12px !important;
    font-weight: 600;
}

.pag .ngb-pagination {
    display: flex;
    align-items: center;
    font-size: 5px;
}

.pag .ngb-pagination .page-link.active {
    color: #FFF;
    background-color: #004C8C;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd !important;
    background-color: transparent;
    line-height: 1.42857143;
    padding: 50px;
    font-size: 14px;
}

.table th {
    color: #004c8c;
    font-family: Comfortaa;
    font-size: 12px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.table td {
    color: #004c8c;
    font-family: Comfortaa;
    font-size: 10px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #ddd !important
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 12px;
    line-height: 1.42857143;
    vertical-align: top;
}

.table>tbody+tbody {
    border-top: 2px solid #ddd
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 2px
}

.dataTables_wrapper {
    font-size: 13px;
}

.dataTables_paginate a.paginate_button {
    margin: 0 10px;
    color: #8089A0;
    text-decoration: none;
    font-size: 14px;
}

form{
    font-size: 12px;
}

form{
    background-color:  #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.35);
     border-radius : 5px;
    padding: 20px;
   
}

.form-control , .form-select{
    border: 1px solid #636363;
    border-radius: 10px;
}

    
label{
    color: #004c8c!important;
    font-weight: 700;
    width: auto;
    left: 15px;
font-size: 12px;
}

input{
    font-family: Comfortaa;
font-size: 10px;
font-weight: 500;
text-align: left;
color: #636363;

}

.btn-info{
    color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
font-weight: 700;
letter-spacing: 0em;
border-radius: 20px;

}

/* .btn-info{
    color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
font-weight: 700;
letter-spacing: 0em;
border-radius: 20px;

} */
@media (max-width: 1241px) {
   
.btn-info {
    padding: 5px 25px !important;
    /* margin-left: 500px; */
    /* margin-left: 10px !important; */
    /* color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px; */

   
}
}


.search{
    border-radius: 20px;padding: 3px 20px; font-family: Comfortaa;font-size: 12px;color: #636363; font-weight: 300;
}