#diagram{
    background-color: #E5EDF3;
    font-weight: 700;
    font-family: 
    Comfortaa;
    /* padding: 20px; */
}
/* 
#diagram::-webkit-scrollbar {
    display: none;
  } */
    
  /* Hide scrollbar for IE, Edge and Firefox */
  /* #diagram {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  } */