
<!-- [getConnectorDefaults]="defaultConnectorValues"  [getNodeDefaults]="deafaultNodeValues" [layout]="layOutSetting"  [dataSourceSettings]="jsonDataSourceSetting"-->
<!-- <ejs-diagram width="100%" height="850px"  -->
  <!-- > -->
  <!-- <e-nodes>
    <e-nodes id="node1" >

    </e-nodes>
  </e-nodes> -->
<!-- </ejs-diagram> -->

<!-- <ejs-diagram [nodes]='nodes' [connectors]='connectors'> -->
  <!-- <e-diagram-annotations> -->
    <!-- <e-diagram-annotation [content]='content'></e-diagram-annotation> -->
  <!-- </e-diagram-annotations> -->
<!-- </ejs-diagram> -->
<!-- [nodes]='nodes' [connectors]='connectors' -->
<!-- <ejs-diagram  ></ejs-diagram> -->
<!-- <div class="content-wrapper  mt-3" style="width: 100%;">
  <ejs-diagram
    #diagram
    id="diagram"
    width="100%"
    height="550px"
    [getConnectorDefaults]="connDefaults"
    [getNodeDefaults]="nodeDefaults"
    [layout]="layout"
    [dataSourceSettings]="dataSourceSettings"
    [snapSettings]="snapSettings"
    [tool]="tools"
  >
  </ejs-diagram>
</div> -->