


.form-group {
    justify-content: center;
  }
  
  .col-md-12 {
    text-align: center;
  }
  
.page-header {
    padding-top: 3px;
    margin-top: 12px;
    display: flex;
}


form{
    font-size: 12px;
}

.form-control , .form-select {
    font-weight: 400;
    font-size: 13px; 
}


.form-select option {
    margin: 15px; /* Adjust the margin as needed to increase the spacing between options */
    padding: 5px; /* Adjust the padding as needed to increase the spacing between options */
    /* height: 46px;
    line-height: 1.3333333  ;
    padding: 6px 12px; */
}

/* Increase the text size for select fields */
.select {
    font-weight: 400;
    font-size: 15px; /* Adjust the value to your preferred text size */
}



/* .btn-info,.btn-info.focus,.btn-info:focus {
    background-color: #003974!important;
    border-color: #003974
} */

/* .btn-info:hover,.btn-info:active:hover,.btn-info:focus:active,.btn-info:focus:hover,.btn-info:hover,.open>.btn-info.dropdown-toggle,.open>.btn-info.dropdown-toggle.focus,.open>.btn-info.dropdown-toggle:active,.open>.btn-info.dropdown-toggle:focus,.open>.btn-info.dropdown-toggle:hover {
    background-color: #4F99C6!important;
    border-color: #003974;
    border: 5px solid #003974 ;

} */

.breadcrumb {
    background-color: #F5F5F5;
    position: relative;
    z-index: auto;
    background-color: #F5F5F5;
    padding-left: 10px;
    margin-bottom: 0px !important;
    font-size: 10px;
    color: #333;
    font-family: Comfortaa;
font-size: 12px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}

.breadcrumb a {
    text-decoration: none;
    margin-right: 5px;
   }
.breadcrumb i{
    color: #3BB161;
    margin-right: 5px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: #004C8C;
    line-height : 24.53px ;
    font-family:  comfortaa ;
}

.btn-info{
    height: 36px;
    color: #fff;
    background-color: #004C8C;
    border-color: #004C8C;
    font-size: 10px;
    font-family: Comfortaa;
font-weight: 700;
letter-spacing: 0em;
border-radius: 20px;

}
form{
    background-color:  #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.35);; 
     border-radius : 5px;
    padding: 20px;
   
}
.form-control , .form-select{
    border: 1px solid #636363;
    border-radius: 10px;
}

    
label{
    color: #004C8C!important;
    font-weight: 700;
    width: auto;
    left: 15px;
font-size: 12px;
}

input{
    font-family: Comfortaa;
font-size: 10px;
font-weight: 500;
text-align: left;
color: #636363;

}
.branchname{
    font-family: Comfortaa;
font-size: 10px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #004C8C;

}


