<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!-- <link rel='stylesheet' id='elementor-post-31-css' media='all'
    href="css/style.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Owl Carousel CSS -->
    <!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


</head>
<style>
    /* .banner-main{
            height: 100vh;
            box-sizing: border-box;
           
            
        }  */
    .owl-carousel {
        display: block;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .owl-carousel .owl-item img {
        width: 120px;
        height: 91px;
    }

    .owl-stage-outer {
        height: auto !important;
    }

    .owl-stage {
        width: 100%;
    }

    @media(max-width:575px) {
        .owl-stage .owl-item {
            max-width: 175px;
            width: 100%;
        }
    }

    .owl-carousel button.owl-dot {
        display: none;
    }
</style>

<body>

    <div class="container-fluid">
        <div class="row border border-dark" style="background-color:#3BB161!important;">
            <div class="col-md-2 col-sm-4 col-xs-2 logo" style="height: 85px">
                <a><img class="mt-3" src="assets/Logo-01.png" alt="Company Logo" />
                    <!-- href="{{ asset('/signup') }}" -->
                </a>
            </div>
            <div class="head-right col-md-10 col-sm-8 col-xs-10" style="height: 85px">
                <nav class="navbar navbar-expand-none group-44-bf7 float-right">
                    <button class="navbar-toggler navbar-light" id="navButton" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation" style="background-color: var(--e-global-color-primary);">
                        <span><i id="navIcon" class="bi bi-list" style="color:#fff; font-size:28px;width: 34.71px;
                            height: 24.768px;line-height:28px"></i></span>
                    </button>
                    <div class="collapse navbar-collapse ml-2" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" data-target="home">Login</a>
                                <!-- href="{{url('login')}}" -->
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-target="price">Open an Account <span
                                        class="sr-only">(current)</span></a>
                                <!-- href="{{ url('/signup') }}" -->
                            </li>
                        </ul>
                    </div>

                </nav>
                <div class="auto-group-jzpx-ebT float-right"><a class="text-white">Open Account</a></div>
                <!-- href="{{ url('signup') }}" -->
                <div class="auto-group-ccz5-2gZ float-right"><a class="text-white">Login</a></div>
                <!-- href="{{ url('login') }}" -->
            </div>
        </div>
    </div>
    <div class="banner-main" style="height: 100hv;" >
        <div class="container my-auto">
            <div class="row row1">
                <!-- First Column with Carousel -->
                <div class="col-lg-6 col-xl-6 col-sm-12  custom-heading">
                    <p class="mb-0" style="font-size: 46.831px!important;
                    font-weight: 600!important;
                    color: #3bb161!important">
                        Welcome to ProMunim!
                    </p>
                    <p style="    font-size: 35.681px!important;
                    font-weight: 500!important;
                    color: #004c8c!important;">
                        Accounting Simplified</p>
                    <p style="font-size: 16px!important;
                    font-weight: 600!important;
                    color: #151515!important;">
                        Join our family of 3.5k+ customers</p>
                    <p style="font-size: 16px!important;
                    font-weight: 600!important;
                    color: #151515!important;">
                        Why ProMunim of India?</p>

                    <div class="row justify-content-center wrapper">
                        <div id="imageCarousel" class="col-sm-12 col-xs-12 order-sm-2 order-md-1">
                            <carousel [itemsPerSlide]="3" [singleSlideOffset]="true" [interval]="3000">
                                <slide>
                                    <div class="item card">
                                        <img src="assets/LoginIcon1.png" class="card-img-top" alt="Image 1">
                                        <div class="card-body">
                                            <p class="card-text">Open account in 5 minutes
                                            </p>
                                        </div>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="item card">
                                        <img src="assets/LoginIcon3.png" class="card-img-top" alt="Image 2">
                                        <div class="card-body">
                                            <p class="card-text">
                                                Daily accounting &
                                                business ideas
                                            </p>
                                        </div>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="item card">
                                        <img src="assets/LoginIcon3.png" class="card-img-top" alt="Image 3">
                                        <div class="card-body">
                                            <p class="card-text">One account for
                                                more business</p>
                                        </div>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="item card">
                                        <img src="assets/LoginIcon3.png" class="card-img-top" alt="Image 4">
                                        <div class="card-body">

                                            <p class="card-text">One account for
                                                more business</p>
                                        </div>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="item card">
                                        <img src="assets/LoginIcon1.png" class="card-img-top" alt="Image 5">
                                        <div class="card-body">

                                            <p class="card-text">Daily accounting &
                                                business ideas</p>
                                        </div>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="item card">
                                        <img src="assets/LoginIcon2.png" class="card-img-top" alt="Image 6">
                                        <div class="card-body">

                                            <p class="card-text">One account for
                                                more business</p>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>



                        </div>
                    </div>
                </div>


                <!-- Second Column with Login Form -->
                <div
                    class="col-lg-6 col-xl-6 col-sm-10 custom-form ml-lg-0 ml-xl-0 mb-5 mb-lg-0 mt-5 mt-xl-0 order-sm-1 order-md-2">
                    <p class="text-center" style="font-size: 22px!important;
                    font-weight: 600!important;
                    color: #004c8c!important;">
                        LOGIN TO GET STARTED</p>
                    <form class="col-md-12 col-sm-12 col-xs-12 mt-5">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control" [(ngModel)]="credentials.email" id="userId"
                                name="UserId" placeholder="Login ID">
                        </div>


                        <input [type]="showPassword ?'text' :'password' " [(ngModel)]="credentials.password"
                            class="mt-3 form-control" type="password" id="password" name="password"
                            placeholder="Password">

                        <i (click)="togglePasswordVisibility()" class="far fa-eye icon-right" *ngIf="!showPassword"
                            style="top: -1.8rem; right: -30%; position: relative;" id="togglePassword"></i>
                        <i (click)="togglePasswordVisibility()" class="far fa-eye-slash icon-right" *ngIf="showPassword"
                            style="top: -1.8rem; right: -30%; position: relative;" id="togglePassword"></i>

                        <a class="text-right" style="font-size: 12px;color: #0f75bc">Forget
                            Password?</a>
                        <!-- href="{{ url('resume_application') }}" -->
                        <span class="get-otp mb-3 mt-1 w-100">
                            <p class="text-success mb-0">Get Directly</p>

                            <select name="overview" id="overview" style="border: solid 0.1rem #636363!important;
                                    box-sizing: border-box!important;
                                    background-color: #ffffff!important;
                                    border-radius: 10px!important;height: 39px!important;width:65%">
                                <option value="volvo">Overview</option>
                                <option value="volvo">My Account</option>
                                <option value="saab">Fees and Payment</option>
                                <option value="mercedes">Insure & Investment</option>
                                <option value="audi">Tax Challan</option>
                                <option value="audi">Documents</option>
                                <option value="audi">Acknowledgment</option>
                            </select>
                        </span>

                        <div class="text-center col-md-12">
                            <button type="submit" class="btn btn-primary w-100"
                                style="background-color: #0f75bc;border-radius: 20px;"
                                (click)="onSubmit()">Login</button>
                        </div>
                        <p style="font-size: 10px!important;color: #151515!important;font-weight: 300px!important"
                            class="text-center mt-2">By clicking “Submit” i agree to the following
                            <a href="#">Terms and Conditions</a>
                        </p>
                        <hr style="text-align: center!important;    background-color: #d9d9d9;">
                        <div class="col-md-12 text-center mt-2 mb-2">
                            <div class="text-center" style="font-size: 12px;color: #0f75bc">
                                Don’t have an account yet? <a> Sign Up</a>
                                <!-- href="{{ url('signup') }}" -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

